<% var data = {
  title: "Заголовок | Проект",
  author: ""
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main>
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><a href=""><span>Главная</span></a></li>
        <li><a href=""><span>Личный кабинет</span></a></li>
        <li><a href=""><span>Услуги</span></a></li>
        <li><a href=""><span>Защита от мошенничества</span></a></li>
        <li><span>История сигналов</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="navpages">
      <ul class="navpages__list">
        <li><a href="#">Обзор</a></li>
        <li class="active"><a href="#">Все услуги</a></li>
        <li><a href="#">Мой профиль</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Кредитные предложения</a></li>
      </ul>
    </div>

  </div>

  <section>
    <div class="container">
      <h1>Защита от мошенничества</h1>
    </div><!-- /.container -->
  </section>


  <section>
    <div class="container">
      <div class="card">
        <h3>История сигналов
        </h3>
        <div class="lktable lktable_type2">
          <table cellspacing="0">
            <thead>
              <tr>
                <th>Дата</th>
                <th>Событие</th>
                <th>Что делать?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01.01.2021</td>
                <td>В кредитной истории появился новый кредит на сумму n руб. от дд.мм.гггг. </td>
                <td>Полные данные по кредиту и источнику вы можете посмотреть в кредитной истории. Если это не ваш
                  кредит, необходимо направить запрос на оспаривание недостоверной информации, указанной в кредитной
                  истории, одновременно можно обратиться к кредитору.</td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>01.01.2021</td>
                <td>В кредитной истории изменились данные паспорта. Номер паспорта 11111111. Дата выдачи дд.мм.гггг
                </td>
                <td>Если данные паспорта вам не принадлежат, следует получить кредитную историю и направить запрос
                  на оспаривание недостоверной информации. Мы обратимся к источнику формирования кредитной истории,
                  передавшему оспариваемые данные, и попросим его проверить правильность информации. Обратите
                  внимания, что может быть передана информацию по вашему старому паспорту. Такую информацию
                  оспаривать не надо. Это помогает с точность искать именно вашу кредитную историю.</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div><!-- /.card -->
    </div><!-- /.container -->
  </section>


</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>