<% var data = {
  title: "Заголовок | Проект",
  author: ""
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main>
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><a href=""><span>Главная</span></a></li>
        <li><a href=""><span>Личный кабинет</span></a></li>
        <li><a href=""><span>Услуги</span></a></li>
        <li><span>Защита от мошенничества</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="navpages">
      <ul class="navpages__list">
        <li><a href="#">Обзор</a></li>
        <li class="active"><a href="#">Все услуги</a></li>
        <li><a href="#">Мой профиль</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Кредитные предложения</a></li>
      </ul>
    </div>

  </div>

  <section>
    <div class="container">

      <div class="card card_lkpkr card_lkpkr_default">
        <div class="lkpkr lkpkr_type3 dflex lkpkr_reverse">
          <div class="lkpkr__left">
            <div class="lkpkr__content">
              <div class="lkpkr__title lkpkr__title_mleft">Защита от мошенничества
              </div>

              <div class="lkpkr__text">
                <p>Данная услуга позволяет защитить себя от действий злоумышленников. Подписка позволит нам
                  ежедневно проверять вашу кредитную историю, как только в ней появится новый кредит (займ) или
                  данные другого паспорта, вам придет уведомление по смс. Если паспорт или кредит окажутся не
                  вашими, вы сможете сразу направить оспаривание либо напрямую обратиться к кредитору.
                </p>
                <p>Своевременные действия оградят вас от чужих долгов и сохранят финансовую репутацию.
                </p>

              </div>


            </div>
          </div><!-- /.lkpkr__left -->
          <div class="lkprk__right">
            <div class="getserv">

              <div class="getserv__buttons">
                <div class="getserv__text">
                  Подписка действует 1 год
                </div>
                <div class="getserv__button"><a href=""
                    class="btn_main btn_main_default btn_main_white inactive inactive_black">750 ₽</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h2>Преимущества</h2>


      <div class="lkgrid lkgrid_type32 lkgrid_wrap">
        <div class="lkgrid__items lkgrid__items_wrap">
          <div class="lkgrid__item ">
            <div class="card card_default">
              <div class="lkservice lkservice_short">
                <div class="lkservice__content">
                  <div class="lkservice__icon">
                    <span class="round round_blue round_border"></span>
                  </div>
                  <div class="lkservice__name lkservice__name_small">Ежедневный мониторинг кредитной истории
                  </div>
                  <!-- /.lkservice__title -->
                </div><!-- /.lkservice__content -->
              </div><!-- /.lkservice -->
            </div><!-- /.card -->
          </div><!-- /.lkgrid__item -->
          <div class="lkgrid__item ">
            <div class="card card_default">
              <div class="lkservice lkservice_short">
                <div class="lkservice__content">
                  <div class="lkservice__icon">
                    <span class="round round_blue "></span>
                  </div>
                  <div class="lkservice__name lkservice__name_small">Уведомление по смс
                  </div>
                  <!-- /.lkservice__title -->
                </div><!-- /.lkservice__content -->
              </div><!-- /.lkservice -->
            </div><!-- /.card -->
          </div><!-- /.lkgrid__item -->
          <div class="lkgrid__item ">
            <div class="card card_default">
              <div class="lkservice lkservice_short">
                <div class="lkservice__content">
                  <div class="lkservice__icon">
                    <span class="round round_red"></span>
                  </div>
                  <div class="lkservice__name lkservice__name_small">Снижает риск стать жертвой кредитных мошенников
                  </div>
                  <!-- /.lkservice__title -->
                </div><!-- /.lkservice__content -->
              </div><!-- /.lkservice -->
            </div><!-- /.card -->
          </div><!-- /.lkgrid__item -->



        </div><!-- /.lkgrid__items -->
      </div><!-- /.lkgrid -->

    </div><!-- /.container -->
  </section>

  <section>
    <div class="container">
      <div class="card">
        <h3>Какую информацию я получу?
        </h3>
        <div class="lktable lktable_large">
          <table cellspacing="0">
            <thead>
              <tr>
                <th>Событие</th>
                <th>Что делать?</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>В кредитной истории появился новый кредит (займ)</td>
                <td>Полные данные по кредиту и источнику вы можете посмотреть в
                  <a href="" class="link_blue">кредитной истории</a> . Если это не ваш кредит, необходимо направить
                  <a href="" class="link_blue">запрос на оспаривание</a> недостоверной информации, указанной в
                  кредитной истории, одновременно можно обратиться к кредитору.</td>
              </tr>
              <tr>
                <td>В кредитной истории изменились данные паспорта</td>
                <td>Если данные паспорта вам не принадлежат, следует получить
                  кредитную историю и направить <a href="" class="link_blue"> запрос на оспаривание</a> недостоверной
                  информации. Мы обратимся к источнику
                  формирования кредитной истории, передавшему оспариваемые
                  данные, для проверки правильности информации.
                  Обратите внимание, что может быть передана информацию по
                  вашему старому паспорту. Такую информацию оспаривать не надо.
                  Это помогает с точность искать именно вашу кредитную историю.</td>
              </tr>

            </tbody>
          </table>
        </div>
      </div><!-- /.card -->
    </div><!-- /.container -->
  </section>


</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>