<% var data = {
  title: "Заголовок | Проект",
  author: ""
}; %>
<%= _.template(require('./../includes/head.html').default)(data) %>
<%= _.template(require('./../includes/header.html').default)(data) %>
<main>
  <div class="breadcrumbs">
    <div class="container">
      <ul>
        <li><a href=""><span>Главная</span></a></li>
        <li><a href=""><span>Личный кабинет</span></a></li>
        <li><span>Оплата</span></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <div class="navpages">
      <ul class="navpages__list">
        <li><a href="#">Обзор</a></li>
        <li><a href="#">Все услуги</a></li>
        <li><a href="#">Мой профиль</a></li>
        <li><a href="#">История заказов</a></li>
        <li><a href="#">Кредитные предложения</a></li>
      </ul>
    </div>

  </div>


  <section>
    <div class="container container_padding">
      <div class="card card_default card_buy">
        <h1>Оплата заказа
        </h1>

        <div class="lktable lktable_buy lktable_type3">

          <table cellspacing="0">
            <thead class="onlyDesktop">
              <tr>
                <th>
                  <span>Дата</span>
                </th>
                <th>
                  <span>Услуга</span>
                </th>
                <th class="lktable__small">
                  <span>Стоимость</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="onlyDesktop">
                  <span class="lktable__tdlarge">
                    15.07.2021
                  </span>
                </td>
                <td>
                  <span class="lktable__tdlarge">
                    ПКР 12
                  </span>
                </td>
                <td class="lktable__small">
                  <span class="lktable__tdlarge">
                    699 ₽
                  </span>
                </td>
              </tr>
            </tbody>
          </table>

          <div class="lkbuy">
            <form action="">
              <div class="lkbuy__wrapper">
                <div class="lkbuy__promo">
                  <div class="lkbuy__text onlyDesktop"></div>
                  <div class="lkbuy__flex">
                    <div class="lkbuy__input"><input type="text" placeholder="Промокод" class="forminput">
                    </div>
                    <div class="lkbuy__apply">
                      <a href="" class="link_blue">Применить</a>
                    </div><!-- /.lkbuy__apply -->
                  </div>
                  <!-- /.lkbuy__flex -->
                </div><!-- /.lkbuy__promo -->
                <div class="lkbuy__buy">
                  <div class="lkbuy__text onlyDesktop">ИТОГО:</div>
                  <div class="lkbuy__buttons">
                    <div class="lkbuy__price onlyDesktop">699 ₽</div>
                    <div class="lkbuy__confirm">
                      <button type="submit" class="btn_main btn_main_default">Оплатить <span class="onlyMobile">699
                          ₽</span></button>
                    </div>
                    <div class="lkbuy__cancel onlyDesktop">
                      <a href="" class="btn_main btn_main_default btn_main_white">Отмена</a>
                    </div>
                  </div><!-- /.lkbuy__buttons -->

                  <div class="lkbuy__cancel onlyMobile">
                    <a href="" class="link_blue">Отмена</a>
                  </div>
                </div><!-- /.lkbuy__buy -->
              </div><!-- /.lkbuy__wrapper -->
            </form>
          </div><!-- /.lkbuy -->

        </div>
      </div><!-- /.card -->
    </div><!-- /.container -->
  </section>


</main>


<%= _.template(require('./../includes/footer.html').default)(data) %>