@import './partials/params.scss';
@import './partials/mixins.scss';
@import './partials/animations.scss';


.header {
  position: relative;
  background: #ecf3f6;

  width: 100%;

  padding: 5px 0;

  @include small-screen {
    background: #fff;
    padding: 10px 0;
    overflow-x: hidden;
    overflow-y: visible;
  }

  &.header--white {
    background: #fff;
  }

  &__menu {
    @include small-screen {
      position: absolute;
      top: calc(50% - 5px);
      left: 10px;
    }
  }



  &__content {
    @include flex-between();
  }

  &__logo {
    @include small-screen {
      margin-left: 40px;
    }
  }

  &__logo img.logo {
    width: 155px;

    @include medium-screen {
      width: 100px;
    }

    @include small-screen {
      width: 120px;
    }
  }





  &__logo img.logo {
    display: none;
  }

  &__logo img.logo--fixed {
    display: initial;
  }

  .headerToggler {
    display: none;
  }

  .headerToggler--fixed {
    display: block;
  }

  &__left {
    @include flex-between;
    width: 235px;

    @include medium-screen {
      width: 155px;
    }

  }

  .contact {
    position: relative;
    width: 180px;

    @include medium-screen {
      .btn {
        font-size: 13px;
      }

    }

    @include medium-screen {

      width: 134px;
    }

    @include small-screen {
      position: absolute;
      right: 11px;
      top: calc(50% - 18px);
      width: 134px;
    }




    .contact__content.active {
      display: block !important;
      border: 1px solid $graycolor;

      @include medium-screen {
        padding: 19px 7px 7px;
      }

    }

    .contact__call a {
      border-color: $darkcolor;
    }

    .contact__call.active a {
      color: $darkcolor;
      border-color: transparent;
    }

    .contact__call.active {
      background-image: url(../img/dropdown2.png);
      background-position: right 10px center;
      background-repeat: no-repeat;



    }


    &__phone {
      padding-bottom: 5px;

      a {
        font-size: 22px;
        color: $darkcolor;
        line-height: 0.6;
        text-decoration: none;
        border-bottom: 1px dotted $darkcolor;
        white-space: nowrap;

        &:hover {
          color: $secondcolor;
          border-bottom: 1px dotted transparent;
        }

        @include medium-screen {
          font-size: 16px;
        }

        @include small-screen {
          font-size: 16px;
        }

      }

    }


    &__content {
      background: #fff;
      padding: 30px 13px 13px 13px;
      border-radius: 5px;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 1;
      display: none;
      box-sizing: border-box;



    }

    &__text {
      font-size: 12px;
      font-family: "New_Channel_Font";
      color: rgb(153, 153, 153);
      line-height: 1.16;
      margin: 12px 0;

    }



    &__call {
      background-image: url(../img/dropdown2.png);
      background-position: right 10px center;
      background-repeat: no-repeat;
      padding: 13px;
      position: relative;
      z-index: 2;

      @include medium-screen {
        padding: 7px 13px 7px 7px;
      }

      @include small-screen {}

      a {
        font-weight: 900;
        font-size: 13px;
        color: $darkcolor;
        text-transform: uppercase;
        text-decoration: none;
        border-bottom: 1px dotted #fff;

        @include medium-screen {
          font-size: 10px;
        }

      }

    }


  }



}

.header.fixed {
  animation: smoothScroll 0.4s forwards;
  padding: 4px 0;
  background: #fff;
  position: fixed !important;
  box-shadow: 0px 0 11px -6px #202020;
  width: 100%;
  background-color: #fff;

  z-index: 99;

  @include small-screen {
    padding: 10px 0;
    overflow-x: hidden;
  }

  .topmenu__header {
    padding: 4px 0;

    @include small-screen {
      padding: 10px 0;
    }
  }




  .contact__call {
    padding: 7px 13px 7px 7px;
  }

  img.logo {
    display: none;
  }

  img.logo--fixed {
    display: block;
  }

  .indexheader .contact__call a {
    color: #fff;
  }

  .headerToggler {
    display: none;
  }

  .headerToggler--fixed {
    display: block;
  }

  li.headernav__link {
    a {
      color: $darkcolor;
    }
  }

  .contact__content.active {
    border: 1px solid $graycolor;
  }


  .contact__call a {
    color: $darkcolor;
    border-color: $darkcolor;
  }

  .contact__call {
    background-image: url(../img/dropdown2.png);
    background-position: right 10px center;
    background-repeat: no-repeat;
  }

}

.headernav {
  @include flex-between;



  &__menu {
    margin-right: 74px;

    @include small-screen {
      display: none;
    }

    @include medium-screen {
      margin-right: 24px;
    }

    ul {
      margin: 0 -37px;
      @include flex-between;

      @include medium-screen {
        margin: 0 -15px;
      }

      li.headernav__link {
        padding: 0 37px;

        @include medium-screen {
          padding: 0 15px;
        }

        a {
          font-size: 13px;
          color: $darkcolor;
          text-transform: uppercase;
          text-decoration: none;
          border-bottom: 2px solid transparent;
          padding-bottom: 2px;

          &:hover,
          &:focus {
            border-bottom: 2px solid $maincolor;
          }
        }
      }
    }
  }
}


.socials {
  margin: 10px 0;

  img {
    width: 34px;
    height: 34px;
  }

  ul {
    @include flex-between;
    flex-wrap: nowrap;

    >* {
      @include small-screen {
        width: initial;
      }
    }
  }
}

.topmenu {
  transition: $transition;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background: #fff;
  display: none;
  box-shadow: 0px 0 11px -6px #202020;
  z-index: 91;

  &.active {
    display: block;
  }

  &__wrapper {
    padding-bottom: 100px;

    @include small-screen {
      padding-bottom: 30px;
    }
  }

  &__header {
    @include flex-between;
    width: 235px;
    margin-bottom: 40px;
    padding: 5px 0;

    @include small-screen {
      margin-bottom: 15px;
    }

    @include medium-screen {
      width: 155px;
    }


  }

  &__logo {
    @include small-screen {
      margin-left: 40px;
    }

    img {
      width: 155px;


      @include medium-screen {
        width: 100px;
      }

      @include small-screen {
        width: 120px;
      }
    }
  }

  &__close {
    width: 25px;
    text-align: center;

    @include small-screen {
      left: 10px;
      position: absolute;
      top: 17px;
    }
  }

  &__main {
    @include flex-between(flex-start);
  }

  &__left {}

  &__menu {}

  &__items {
    @include flex-between(row);
    min-width: 640px;

    @include medium-screen {
      min-width: initial;
      margin: 0 -15px;
    }
  }

  &__item {
    padding-left: 42px;

    @include medium-screen {
      padding-left: 0;
      padding: 0 15px;
    }
  }

  &__title {
    margin-bottom: 15px;


    +.topmenu__title {
      margin-top: 60px;

      @include medium-screen {
        margin-top: 20px;
      }
    }

    a {
      font-size: 32px;
      font-weight: 900;
      color: $graycolor;
      text-transform: uppercase;

      &:hover,
      &:focus {
        color: $maincolor;
      }

      @include medium-screen {
        font-size: 20px;
      }
    }
  }

  &__subitems {
    margin: 17px 0;

    li {
      margin-bottom: 15px;

      @include small-screen {
        margin-bottom: 10px;
      }

      a {
        font-size: 21px;
        color: $graycolor;

        &:hover,
        &:focus {
          color: $maincolor;
        }

        @include small-screen {
          font-size: 16px;
        }
      }
    }

  }

  &__right {}

  &__button {
    width: 320px;

    @include medium-screen {
      width: initial;
    }

    @include small-screen {
      width: 260px;
      margin: auto;
    }
  }

}