@import './partials/params.scss';
@import './partials/mixins.scss';
@import '../fonts/fonts.css';
@import './header.scss';
@import './main.css';
@import './loginpage.scss';
@import './pages.scss';
@import './services.scss';
@import './cards.scss';
@import './graphs.scss';

body {
  min-width: 320px;
  font-family: Formular, sans-serif;
  @include clear;
}

* {
  font-family: Formular, sans-serif;
  box-sizing: border-box;
}

main {
  overflow: hidden;
}

.onlyDesktop {
  @include small-screen {
    display: none;
  }
}

.onlyMobile {
  display: none;

  @include small-screen {
    display: block;
  }
}

.container {
  @include container;
}

@include small-screen {
  .mainfooter__navs_flex {
    display: block;
  }

  .mainfooter__navs_flex>div {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .footer__bottom {
    padding: 36px 0;
  }
}